<!-- <h1 class="classname"></h1> -->
<div class= "re" id="re">
<%= form_tag("/re", method: "get") do %>
		<%= submit_tag :Reset, :class => "re"%>
<% end %>
</div>
<div class= "mainbox" id="title">
	<h1>
		Dimentale
	</h1>
</div>
<div class="mainbox" id="halfbox">
	<h2 class= "items">
		Your Items: <%= $inventory %>
	</h2>
</div>


		<!-- VALIDATIONS FOR ASKING NON-NEXT QUESTIONS -->

						<!-- BELOW -->


<div class="mainbox" id="topqbox"> 
	<%= $memory %>
	<% if $boss == "valid"%>
		<p><%= "Robot: Password accepted dabaws is here" %></p>
		<p><%= "Robot: I don't like my name very much; would you like to keep the name Greg?" %><p>
	<% elsif $boss == "invalid" %>
		<p><%= "Robot: Nice to meet you #$name" %></p>
		<p><%= "Robot: My name is Greg" %></p>
		<p><%="Robot: I don't like my name very much; would you like to keep the name Greg?"%><p>
	<% end %>
	<% if $qmessage == "Robot: What do you want it to be?"  %>
		<%= $qmessage %>
	<% end %>
	<%if $qanswer %>
		<%= $qanswer %>
	<% end %>
	<% if $memory == "    " %>
		<%= "Robot: Very well then (つ▀¯▀)つ" %>
	<% end %>
	<% if $fingerqq == "How rude!" %>
		<%= $fingerqq %>
	<% elsif $fingerq == "Ok" %>
		<%= $fingerq %>
	<% end %>
	<% if $memory == "       " %>
		<h3 class= "bosstitle">
			BOSS - YOUR LOVING GRANDMA
		</h3>
		<h5 class= "playerhealth">
			Your health <%= $yhealth %>
		</h5>
		<h5 class= "foehealth">
			Foe health <%= $ehealth %>
		</h5>
	<% end %>

	 <% if $memory == "Grandma: So I hear you like" %>
 		<%= $acat %>
 		<%= $adog %>
 	<% end %>
	<% if $memory == "      " and $acat == "Cats"%>
		<p>
			<%= "Your now on Grandmas good list, she 'lets' you pass"%>
		</p>
 	<% end %>
 	<% if $memory == "      " and $adog == "Dogs"%>
 		<p>
 			<%= "Grandma doesn't like dogs so she gives you a DISAPPROVING LOOK"%>
 		</p>
 		<p>
 			<%= "So you do the only logical thing and punch her in her groin" %>
 		</p> 	
 	<% end %>
</div>


		<!-- VALIDATIONS FOR NEXT BUTTONS -->
					<!-- BELOW -->
<div class="mainbox" id="botqbox">
		<% if $memory == "Robot: What is your name?" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $boss == "valid" or $boss == "invalid" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $qmessage == "Robot: What do you want it to be?" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $memory == "Robot: Which do you prefer, dogs or cats" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $memory == "or Two flip them the finger" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<%else%>
			<%=form_tag("/next", method: "post") do %>
				<%=submit_tag :Next, :class => "next"%>	
			<% end %>	
	<% end %>

<!-- YES OR NO QUESTIONS VALIDATIONS -->
			<!-- BELOW -->

	<% if $boss == "valid" or $boss == "invalid" %>
		<div class="yes_no">
			<%= form_tag("/yes", method: "post") do %>
				<%=submit_tag :Yes, :class => "yes"%>
			<% end %>
			<%= form_tag("/no", method: "post") do %>
				<%=submit_tag :No, :class => "no"%>
			<% end %>
		<% end %>
		<% if $memory == "Robot: What is your name?" %>
			<%= form_tag enter_path do %>
				<%= text_field_tag :empty_empty %>
				<%=	submit_tag "Enter", class: "enter" %>
			<% end %>
		<% end %>
		<% if $qmessage == "Robot: What do you want it to be?" %>
			<%= form_tag("/answer", method: "post") do %>
				<%= text_field_tag :no_yes %>
				<%=	submit_tag "Enter", class: "enter" %>
			<% end %>
		<% end %>


	<!-- VALIDATIONS FOR ONE OR TWO QUESTIONS -->
				<!-- BELOW -->
		<% if $memory == "Robot: Which do you prefer, dogs or cats" %>
				<%= form_tag("/1", method: "post") do %>
					<%=submit_tag :One, :class => "one"%>
				<% end %>
				<%= form_tag("/2", method: "post") do %>
					<%=submit_tag :Two, :class => "two"%>
				<% end %>
		<% end %>
		<% if $memory == "or Two flip them the finger" %>
				<%= form_tag("/1", method: "post") do %>
					<%=submit_tag :One, :class => "one"%>
				<% end %>
				<%= form_tag("/2", method: "post") do %>
					<%=submit_tag :Two, :class => "two"%>
				<% end %>
		<% end %>
	</div>
</div>







