<!-- <h1 class="classname"></h1> -->
<div class= "re" id="re">
	<%= form_tag("/re", method: "get") do %>
		<%= submit_tag :Reset, :class => "re"%>
<% end %>
</div>
<div class= "mainbox" id="title">
	<h1>
		Dimentale
	</h1>
</div>
<div class="mainbox" id="halfbox">
	<h2 class= "items">

<!-- Inv_links hash: you need a :title (the text that appears as a link) and a :url (where the link delivers the user to after it's been clicked). You need to add it as a hash, in this fashion: {:title => "YOUR_TITLE",:url => "YOUR_URL"}. Once it's been added, you need to add it to the inv_links array, and it will appear in your inventory as a link that fires whatever logic you have associated with that link. -->

		<% $inv_links.map{|wl| link_to wl[:title], wl[:url]}.join(',') %>
	Your Items:[
		<% $inv_links.each do |wl| %>
			<%= link_to(wl[:title], wl[:url]) %>
		<% end %>
				]
	</h2>
	<% if flash[:rules] %>
		<div class="invalert">
		<%= flash[:rules] %>
		<br>
		<br>
	<% end %>
	<% if flash[:rules1] %>
		<%= flash[:rules1] %>
		<br>
		<br>
	<% end %>	
	<% if flash[:rules2] %>
		<%= flash[:rules2] %>
		<br>
		<br>
	<% end %>	
	<% if flash[:rules3] %>
		<%= flash[:rules3] %>
		<br>
		<br>
	<% end %>		
	<% if flash[:grun] %>
		<%= flash[:grun] %>
		<br>
		<br>
	<% end %>	
	<% if flash[:grun1] %>
			<%= flash[:grun1] %>
			<br>
			<br>
	<% end %>
	<!-- THIS IS FOR THE HAPPY PAPER? -->
	<% if flash[:paper] %>
		<div class="invalert">
			<%= flash[:paper] %>
			<br>
			<br>
	<% end %>
	<% if flash[:paper1] %>
			<%= flash[:paper1] %>
			<br>
			<br>
	<% end %>	
	<% if flash[:paper2] %>
			<%= flash[:paper2] %>
			<br>
			<br>
	<% end %>	
	<% if flash[:paper3] %>
			<%= flash[:paper3] %>
			<br>
			<br>
	<% end %>		
	<% if flash[:paper4] %>
			<%= flash[:paper4] %>
			<br>
			<br>
	<% end %>
	<% if flash[:paper5] %>
			<%= flash[:paper5] %>
			<br>
			<br>
	<% end %>
	<% if flash[:paperno] %>
			<%= flash[:paperno] %>
	<% end %>	
	</div>
</div>


		<!-- VALIDATIONS FOR ASKING NON-NEXT QUESTIONS -->

						<!-- BELOW -->


<div class="mainbox" id="topqbox"> 
	<%= $memory %>
	<% if $boss == "valid"%>
		<p><%= "Robot: Password accepted dabaws is here" %></p>
		<p><%= "Robot: I don't like my name very much; would you like to keep the name Greg?" %><p>
	<% elsif $boss == "invalid" %>
		<p><%= "Robot: Nice to meet you #$name" %></p>
		<p><%= "Robot: My name is Greg" %></p>
		<p><%="Robot: I don't like my name very much; would you like to keep the name Greg?"%><p>
	<% end %>
	<% if $qmessage == "Robot: What do you want it to be?"  %>
		<%= $qmessage %>
	<% end %>
	<%if $qanswer %>
		<%= $qanswer %>
	<% end %>
	<% if $memory == "    " %>
		<%= "Robot: Very well then (つ▀¯▀)つ" %>
	<% end %>
	<% if $fingerqq == "How rude!" %>
		<%= $fingerqq %>
	<% elsif $fingerq == "Ok" %>
		<%= $fingerq %>
	<% end %>
	<% if $memory == "       " %>
		<h3 class= "bosstitle">
			BOSS - YOUR LOVING GRANDMA
		</h3>
		<h5 class= "playerhealth">
			Your health <%= $yhealth %>
		</h5>
		<h5 class= "foehealth">
			Foe health <%= $ehealth %>
		</h5>
	<% end %>

	 <% if $memory == "Grandma: So I hear you like " %>
 		<%= $acat %>
 		<%= $adog %>
 	<% end %>
	<% if $memory == "      " and $acat == "Cats"%>
		<p>
			<%= "Your now on Grandmas good list, she 'lets' you pass"%>
		</p>
 	<% end %>
 	<% if $memory == "      " and $adog == "Dogs"%>
 		<p>
 			<%= "Grandma doesn't like dogs so she gives you a DISAPPROVING LOOK"%>
 		</p>
 		<p>
 			<%= "So you do the only logical thing and punch her because she hindered your morals" %>
 		</p>
 	<% end %>
 	<% if $memory == "          "%>
 		<%= $labdoorq %>
 	<% end %>
</div>


		<!-- VALIDATIONS FOR NEXT BUTTONS -->
					<!-- BELOW -->
<div class="mainbox" id="botqbox">
		<% if $memory == "Robot: What is your name?" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $boss == "valid" or $boss == "invalid" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $qmessage == "Robot: What do you want it to be?" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $memory == "Robot: Which do you like, 1)dogs or 2)cats" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $memory == "or Two flip them the finger" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $memory == "Oh look at that, a piece of paper with conveniently perfect print and in great condition it has the rules for the game that your in you should read it in interest of not dying or slowing the pace of the game" and flash[:rules] %>
				<%=form_tag("/next", method: "post") do %>
				<%=submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $memory == "Oh look at that, a piece of paper with conveniently perfect print and in great condition it has the rules for the game that your in you should read it in interest of not dying or slowing the pace of the game" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $memory == "Do you take the paper?" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<% elsif $memory == "When you got to the labratory there were two doors Indifferent lab door 1 and Ecstatic lab door 2" %>
				<%form_tag("/next", method: "post") do %>
				<%submit_tag :Next, :class => "next"%>
				<% end %>
		<%else%>
			<%=form_tag("/next", method: "post") do %>
				<%=submit_tag :Next, :class => "next"%>	
			<% end %>	
	<% end %>

<!-- YES OR NO QUESTIONS VALIDATIONS -->
			<!-- BELOW -->

	<% if $boss == "valid" or $boss == "invalid" %>
		<div class="yes_no">
			<%= form_tag("/yes", method: "post") do %>
				<%=submit_tag :Yes, :class => "yes"%>
			<% end %>
			<%= form_tag("/no", method: "post") do %>
				<%=submit_tag :No, :class => "no"%>
			<% end %>
		<% end %>
		<% if $memory == "Robot: What is your name?" %>
			<%= form_tag enter_path do %>
				<%= text_field_tag :empty_empty %>
				<%=	submit_tag "Enter", class: "enter" %>
			<% end %>
		<% end %>
		<% if $qmessage == "Robot: What do you want it to be?" %>
			<%= form_tag("/answer", method: "post") do %>
				<%= text_field_tag :no_yes %>
				<%=	submit_tag "Enter", class: "enter" %>
			<% end %>
		<% end %>
		<% if $memory == "Do you take the paper?" %>	
				<%= form_tag("/yes", method: "post") do %>
					<%=submit_tag :Yes, :class => "yes"%>
				<% end %>
				<%= form_tag("/no", method: "post") do %>
					<%=submit_tag :No, :class => "no"%>
				<% end %>
		<% end %>

	<!-- VALIDATIONS FOR ONE OR TWO QUESTIONS -->
				<!-- BELOW -->
		<% if $memory == "Robot: Which do you like, 1)dogs or 2)cats" %>
				<%= form_tag("/1", method: "post") do %>
					<%=submit_tag :One, :class => "one"%>
				<% end %>
				<%= form_tag("/2", method: "post") do %>
					<%=submit_tag :Two, :class => "two"%>
				<% end %>
		<% end %>
		<% if $memory == "or Two flip them the finger" %>
				<%= form_tag("/1", method: "post") do %>
					<%=submit_tag :One, :class => "one"%>
				<% end %>
				<%= form_tag("/2", method: "post") do %>
					<%=submit_tag :Two, :class => "two"%>
				<% end %>
		<% end %>
		<% if $memory == "When you got to the labratory there were two doors Indifferent lab door 1 and Ecstatic lab door 2" %>
				<%= form_tag("/1", method: "post") do %>
					<%=submit_tag :One, :class => "one"%>
				<% end %>
				<%= form_tag("/2", method: "post") do %>
					<%=submit_tag :Two, :class => "two"%>
				<% end %>
		<% end %>
		<!-- VALIDATIONS FOR ITEM BOX -->
				<!-- BELOW -->
		<% if $fight == true %>
				<%= form_tag("/run", method: "get") do %>
					<%=submit_tag :Run, :class => "item"%>
				<% end %>
		<% end %>
	</div>
</div>







